{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

<title>Change Password</title>

{% endblock %}

{% block content %}

<div class="container">

  <form method="post"  >
    {% csrf_token %}
    
    {% for field in form %}
      <div class="form-group" style="width: 300px;">
          {{ field.label }}:
          {{ field }}

      </div>

    {% endfor %}

    <button class="btn btn-primary" type="submit"> Change </button>

    <br>
    <br>
    <a href="{% url 'edit_profile' %}">Back to profile edit</a>

  </form>

</div>


{% endblock %}
