{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

<title>Profile edit</title>

{% endblock %}

{% block content %}

<div class="container">

  <form method="post"  >
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group" style="width: 350px;">
        {% if field.label == 'Password' %}
          <p>To change your password use this <a href="{% url 'password' %}">link</a>.</p>
        {% else %}
          {{ field.label }}:
          {{ field }}
        {% endif %}

      </div>

    {% endfor %}
    <button class="btn btn-primary" type="submit"> Change </button>

  </form>

</div>


{% endblock %}
