<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-4/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/flickity.css" %}">


    <title>Login Page</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-info">

      <a class="navbar-brand text-light" href="/home">
        <img src="{% static "images/logo.png"%}" alt="">
        INVESTMENT PORTAL
      </a>


    <ul class="nav justify-content-center">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ENG</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">RUS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">ENG</a>
        </div>
      </li>

      <li class="nav-item">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </li>

      <li class="nav-item">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </li>





    </ul>


   <form class="form-inline">

     <a href="/login">
       <button class="btn btn-info my-2 my-sm-0" type="button">Login</button>
     </a>
    <a href="#">
      <button class="btn btn-info my-2 my-sm-0" type="button">Sign up</button>
    </a>

   </form>



    </nav>

<nav class="navbar">

  <div class="container">

    <ul class="nav mx-auto ">

      <li class="nav-item">
        <a class="nav-link" href="#">About region</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">For investor</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Investment map</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Industrial zones</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Investment projects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>

    </ul>

  </div>

</nav>


{% block content %}{% endblock %}





<footer class="footer">
  <div class="container">

      <div class="carousel" data-flickity='{ "autoPlay": 1500 }'>

        <div class="carousel-cell">
          <img src="{% static "images/egov.jpg"%}" alt="">
        </div>
        <div class="carousel-cell">
          <img src="{% static "images/ertis.png"%}" alt="">
        </div>
        <div class="carousel-cell">
          <img src="{% static "images/kazakhinvest.png"%}" alt="">
        </div>
        <div class="carousel-cell">
          <img src="{% static "images/managmentgosru.jpg"%}" alt="">
        </div>
        <div class="carousel-cell">
          <img src="{% static "images/bimg.jpg"%}" alt="">
        </div>

      </div>



  </div>


</footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap-4/js/bootstrap.min.js" %}" ></script>
    <script src="{% static "js/flickity.pkgd.min.js" %}"></script>
  </body>
</html>
